*,
*:before,
*:after {
  box-sizing: inherit;
  background-repeat: no-repeat;
}

html,
body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  min-width: 320px;
  background-color: $lightestGrey;
  color: $black;
  font-family: $sansSerif;
  line-height: 1.5;
}

body {
  overflow-y: scroll;
}

pre,
code,
kbd,
samp {
  font-family: $mono;
}

a {
  text-decoration: inherit;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: inline-block;
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  margin: 0;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  resize: vertical;
  min-height: 42px;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
