/* Colors */
$white: #ffffff;
$black: #1a1a1a;
$blue: #0667d0;
$green: #8fdcb7;
$red: #ec678a;
$lightestGrey: #fdfdfd;
$lightGrey: #f7f7f7;
$mediumGrey: #e7e7e7;
$darkGrey: #d7d7d7;
$darkestGrey: #999;

$twitter: #00aced;
$github: #1a1a1a;
$reddit: #ff5700;

/* Fonts */
$sansSerif: "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", sans-serif;
$mono: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
$font-weight-regular: 400;
$font-weight-bold: 700;

/* Other */
$borderRadius: 3px;
