.comment-list {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  margin-bottom: 150px;
}

.comment-list__comment {
  border: 1px solid $mediumGrey;
  padding: 20px;
  margin-bottom: 15px;
}

.comment-list--empty {
  text-align: center;
  padding: 25px;
  color: $darkestGrey;
  font-size: 18px;
  background-color: $lightGrey;
}
