.comment {
  display: flex;
}

.comment__name {
  font-weight: $font-weight-bold;
}

.comment__date {
  color: $darkestGrey;
  font-size: 13px;
  margin-bottom: 8px;
}

.comment__avatar {
  border-radius: $borderRadius;
  width: 70px;
  height: 70px;
  margin-right: 24px;
}

.comment__message {
  line-height: 1.6;
  font-size: 16px;
}
