.comment {
  display: flex;
}

.comment__name {
  font-weight: $font-weight-bold;
}

.comment__date {
  color: $darkestGrey;
  font-size: 13px;
  margin-bottom: 8px;
}

.comment__avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 24px;
}

.comment__body {
  line-height: 1.6;
  font-size: 16px;
  word-break: break-word;

  img {
    box-sizing: content-box;
    background-color: #fff;
    border-radius: $borderRadius;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 12px;
    margin-bottom: 5px;
    font-weight: $font-weight-bold;
    line-height: 1.25;
  }
  b,
  strong {
    font-weight: $font-weight-bold;
  }
  p,
  blockquote,
  ul,
  ol,
  pre {
    margin-bottom: 6px;
  }
  ul,
  ol {
    margin-left: 2em;
  }
  ul li {
    list-style: disc;
  }
  h1 {
    font-size: 1.25em;
    font-weight: $font-weight-bold;
    padding-bottom: 0.3em;
  }
  h2 {
    font-size: 1.1em;
    padding-bottom: 0.3em;
  }
  h3 {
    font-size: 1em;
  }
  pre {
    background-color: $lightGrey;
    code {
      background-color: transparent;
    }
  }
  code {
    background-color: $lightGrey;
  }
  ul a,
  ol a,
  p a {
    color: $blue;
    text-decoration: underline;
    &:hover {
      color: lighten($blue, 15%);
    }
  }
  blockquote {
    border-left: 3px solid rgba($blue, 0.6);
    padding-left: 15px;
    margin-left: 12px;
    p {
      font-size: 17px;
      font-style: italic;
      color: $darkestGrey;
    }
  }
}

@media (max-width: 500px) {
  .comment__avatar {
    width: 40px;
    height: 40px;
    margin-right: 16px;
  }
}
