.footer {
  padding: 46px 0 70px 0;
  background-color: lighten($blue, 56.75%);
  border-top: 1px solid lighten($blue, 55%);
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer__left {
  max-width: 370px;
}

.footer__brand {
  font-weight: $font-weight-bold;
  color: rgba($black, 0.75);
}

.footer__message {
  font-size: 14px;
  color: rgba($black, 0.6);
}

.footer__copyright {
  font-size: 12px;
  margin-top: 12px;
  color: rgba($black, 0.3);
}

.footer__right {
  display: flex;
}

.footer__section {
  margin-left: 60px;
  text-align: right;
}

.footer__section-title {
  font-weight: $font-weight-bold;
  margin-bottom: 12px;
  color: rgba($black, 0.75);
}

.footer__list-item {
  font-size: 14px;
  margin-bottom: 6px;
  color: rgba($black, 0.6);
}

.footer__list-item a:hover {
  text-decoration: underline;
}

@media (max-width: 770px) {
  .footer .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__right {
    flex-direction: column;
    align-items: center;
  }

  .footer__section {
    margin-left: 0;
    margin-bottom: 25px;
    text-align: center;
  }

  .footer__left {
    text-align: center;
    margin-top: 30px;
  }
}
