.button {
  appearance: none;
  position: relative;
  border: none;
  border-radius: $borderRadius;
  display: inline-block;
  cursor: pointer;
  padding: 8px 16px;
  transition: all 0.1s ease-out;
  background-color: $blue;
  color: $white;
  &:hover {
    background-color: lighten($blue, 10%);
  }
}

.button--loading {
  color: transparent;
  text-shadow: none;
  user-select: none;
  &:before {
    content: "";
    position: absolute;
    left: calc(50% - 0.5em);
    top: calc(50% - 0.5em);
    width: 1em;
    height: 1em;
    border: 2px solid rgba($white, 0.15);
    border-top: 2px solid $black;
    border-radius: 50%;
    animation: buttonLoadingAnimation 0.6s linear infinite;
  }
}

@keyframes buttonLoadingAnimation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}